.body{
    height: 75px;
    border-radius: 20px;
}

.clockImgSpan{
    border-radius: 10px;
}

.clockIcon{
    color: white;
}

.digit1, .digit2, .digit3, .digit4, .digit5, .digit6{
    border-radius: 10px;
}